@using System.Net.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@{
    HttpClient httpClient = new HttpClient();
    //var responseMessage = await httpClient.GetAsync("localhost:6100/api/payments");
    var responseMessage = await httpClient.GetAsync("http://checkitout.query.api.http/api/payments");
    var content = await responseMessage.Content.ReadAsStringAsync();
    @Html.Raw(content);
}