@using System.Net.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Loan App</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<h4>Apply Now, Get Approved Today!</h4>
<div>Apply Now, for Approval within minutes! <input type="button" name="Apply" value="Apply Now!" class="btn btn-success" /></div>
<img src="https://tweakyourbiz.com/wp-content/uploads/2020/04/business-loan-application-1024x684.jpg" height="200px" width="300px"/>
<p></p>
<h4>Money In Your Bank Today!</h4>
<div>Get your loan paid into your account within 1 hour! <input type="button" name="Apply" value="Find Out More!" class="btn btn-success" /></div>

<img src="https://i.dailymail.co.uk/1s/2019/05/18/13/13655808-7044151-image-m-37_1558183279479.jpg" height="200px" width="300px" />
<p></p>
<h4>How It Works:</h4>
<div>
    <div>
        Request a Loan -> We do a Credit Check -> Approved -> Money In Your Bank Today!
    </div>
    <div>
        If further checks are required, call us!
    </div>
</div>
@*@{
    HttpClient httpClient = new HttpClient();
    var responseMessage = await httpClient.GetAsync("http://checkitout.query.api.http/api/payments");
    var content = await responseMessage.Content.ReadAsStringAsync();
    @Html.Raw(content);
}*@